homework 26.09.22.csproj
obj
bin\Debug\net6.0
homework 26.09.22.deps.json
homework 26.09.22.dll
homework 26.09.22.exe
homework 26.09.22.pdb
homework 26.09.22.runtimeconfig.json
homework 26.09.22.csproj.nuget.dgspec.json
homework 26.09.22.csproj.nuget.g.props
homework 26.09.22.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
homework 26.09.22.dll
.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
apphost.exe
homework 26.09.22.AssemblyInfo.cs
homework 26.09.22.AssemblyInfoInputs.cache
homework 26.09.22.assets.cache
homework 26.09.22.csproj.AssemblyReference.cache
homework 26.09.22.csproj.CoreCompileInputs.cache
homework 26.09.22.csproj.FileListAbsolute.txt
homework 26.09.22.GeneratedMSBuildEditorConfig.editorconfig
homework 26.09.22.genruntimeconfig.cache
homework 26.09.22.GlobalUsings.g.cs
homework 26.09.22.pdb